.TopicHolder {
	.main-content h1 {
		text-align: center;
	}
}

.Topic {
	.main-content {
		h1 {
			text-transform: none;
		}
	}

	.topic-subnav {
		border-top: 1px solid #ddd;
	}

	.search-container {
		margin-top: 20px;
	}
}

.TopicHolder, .Topic {
	.main-content {
		div.column {
			margin: 0;
			padding: 0;
		}
	}

	.search-container {
		background: rgba(255, 255, 255, 1);
		background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
		background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
		background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
		background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
		padding: 20px;

		input[type=text] {
			font-size: rem-calc(18);
			border-radius: 30px;
			margin: 20px 0;
			padding: 10px;
		}

		input[type=submit] {
			@extend .sr-only;
		}
	}

	.featured-topic-grid {
		a {
			h3 {
				i {
					color: #222;
				}

				color: $link-color;
			}

			p {
				color: #222;
			}
		}
	}

	.topic-grid {
		margin-left: 0;

		.topic-grid-nav {
			//tag headings:
			> a {
				font-family: $heading-font;
				font-size: rem-calc(17);
				text-transform: uppercase;
				background: none;
				padding: 0;
				padding-left: 5px;
				border-bottom: 1px solid #eee;
				display: block;
				color: #444;
			}

			> a i {
				float: right;
				color: #e3e3e3;
			}

			&.active {
				> a i {
					//display: none;

					&:before {
						//content: $fa-var-caret-up;
				
					}
				}
			}

			h1, h2, h3, h4 {
				margin-top: 0;
			}

			hr {
				margin: 60px 0;
			}
		}

		.content {
			margin-top: 20px;
			padding: 0;

			i {
				color: #444;
			}

			div.column {
				float: none;
				padding: 0;
			}

			ul {
				list-style-type: none;

				//margin: 0;

				li {
					font-size: rem-calc(14);
					margin-bottom: 10px;

					a {
						// &:after {
						// 	content: $fa-var-file-text-o;
						// }
				
					}
				}
			}
		}
	}

	.topic {
		max-width: 800px;
		margin: auto;
	}
}