/* Secondary HomePage highlights */
.home-highlights {
	padding-bottom: 0;
}
.home-highlights.secondary{
	padding-top: 20px;
	padding-bottom: 5em;
}

.module.events, .module.twitter{
	border-top: 4px solid #FFCE39;
}

.module.events{
	.event{
		h4{
			margin: 0;
		}
		p{
			margin: 0;
		}
		border-bottom: 1px solid #eee;
		padding: 0.8em 0;
	}
	.event:first-child{
		padding-top: 0;
	}
	.event:last-child{
		border-bottom: none;
	}
}


.page-full-width .main-content {
	@media (min-width: $break-medium) {
		width: 100%;
	}
}

.flex-direction-nav {
	@media (max-width: $break-small) {
		display: none;
	}
}
/* -
------------------------------------------------------
JUSTIFY SETUP
---------------------------------------------------------- */
.justify {
	font-size: 0.1px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	text-align: justify;
}
.justify:after {
	content: '';
	display: inline-block;
	width: 100%;

}
.justify .item {
	font-size: 14px;
	vertical-align: top;
	margin-bottom: 10px;
	width: 100%;
	text-align: left;
	display: inline-block;
	@media screen and (min-width: $break-small) {
	 width: 48%;
	}
	@media screen and (min-width: $break-medium) {
	 width: 31%;
	}
}
.item-img {
	width: 100%;
}
.filler {
	height: 0;
}



/* -------------------------------------------------------
RESPONSIVE TABLES
---------------------------------------------------------- */
.responsive-table {
	width: 100%;
	margin-bottom: 1.5em;
	@media (min-width: $break-medium) {
		font-size: .9em;
	}
	@media (min-width: $break-large) {
		font-size: 1em;
	}

	thead {
		// Accessibly hide <thead> on narrow viewports
		position: absolute;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;

		@media (min-width: $break-medium) {
			// Unhide <thead> on wide viewports
			position: relative;
			clip: auto;
			height: auto;
			width: auto;
			overflow: auto;
		}

    th {
      background-color: rgba(0,0,0,1);
      border: 1px solid rgba(0,0,0,1);
      font-weight: normal;
      text-align: center;
      color: white;

      &:first-of-type {
        text-align: left;
      }
    }
  }

  // Set these items to display: block for narrow viewports
  tbody,tr,th,td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {
    @media (min-width: $break-medium) {
      // Undo display: block
      display: table-row;
    }
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;

    @media (min-width: $break-small) {
      border-top: none;
      padding: .5em .5em;
    }

    @media (min-width: $break-medium) {
      // Undo display: block
      display: table-cell;
      padding: .5em;
    }

    @media (min-width: $break-large) {
      padding: .75em .5em;
    }

    @media (min-width: $break-xlarge) {
      padding: .75em;
    }
  }

  caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;

    @media (min-width: $break-medium) {
      font-size: 1.5em;
    }
  }

  tfoot {
    font-size: .8em;
    font-style: italic;

    @media (min-width: $break-large) {
      font-size: .9em;
    }
  }

  tbody {
    @media (min-width: $break-medium) {
      // Undo display: block
      display: table-row-group;
    }

    tr {
      margin-bottom: 1em;
      border: 2px solid rgba(0,0,0,1);

      @media (min-width: $break-medium) {
        // Undo display: block
        display: table-row;
        border-width: 1px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        @media (min-width: $break-medium) {
          background-color: rgba(94,93,82,.1);
        }
      }
    }

    th[scope="row"] {
      background-color: rgba(0,0,0,1);
      color: white;

      @media (min-width: $break-medium) {
        background-color: transparent;
        color: #333;
        text-align: left;
      }
    }

    td {
      text-align: right;

      @media (min-width: $break-small) {
        border-bottom: 1px solid  rgba(0,0,0,1);
      }

      @media (min-width: $break-medium) {
        text-align: center;
      }
    }

    td[data-type=currency] {
      text-align: right;
    }

    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: .8em;
      color: #333;

      @media (min-width: $break-small) {
        font-size: .9em;
      }

      @media (min-width: $break-medium) {
        // Don’t show data-title labels
        content: none;
      }
    }
  }
}
/* Who does what css */
.who-does-what-section .colgroup{
	position: relative;

}
.who-does-what-section p span {
	font-weight: bold;
}

.who-does-what-section-tags{
	display: block;
	clear: both;
	margin-top: 20px;
}

.who-does-what-section-tags p{
	margin: 0;
	padding: 0;
}

.who-does-what {
	word-wrap:break-word;

}

.who-does-what h3, h4 {
	margin: 0 0 10px 0;
	color: #222222;
}

.who-does-what h4 {
	padding-top: 7px;
}

.who-does-what p {
	margin: 0;
	padding: 0;
}

.who-does-what.additional-info {
	padding-bottom: 40px;

}

.who-does-what-selected-tag a {
	font-size: 1.25rem;
}

#sidebar-tags nav ul {
	padding-left: 0;
}

#sidebar-tags nav ul li {
	background-color: #f8f6f3;
	padding: 0;
	margin: 0;
	display: list-item;
}

#sidebar-tags nav ul li a {
	border-bottom: 1px solid #ddd;
	color: #333;
	display: block;
	padding: 2px 0 2px 15px;
	background-color: #f8f6f3;
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#sidebar-tags nav ul li a:hover {
	background-color: #000;
	color: #fff;
}

#sidebar-tags nav ul li a span {
	display: none;
}

#sidebar-tags h3 {
	margin-left: 10px;
}

/* -------------------------------------------------------
TWITTER IFRAME
---------------------------------------------------------- */

#twit-div {
	margin: 10px; 
}

/* -------------------------------------------------------
NAVIGATION OVERRIDES
---------------------------------------------------------- */
.nav-main a {
	@media (min-width: $break-medium) {
		padding-left: .9em;
		padding-right: .9em;
	}
	@media (min-width: $break-large) {
		padding-left: 1.20em;
		padding-right: 1.20em;
	}
	@media (min-width: $break-xlarge) {
		padding-left: 1.8em;
		padding-right: 1.8em;
	}
}

@charset "UTF-8";
.accordion{
	margin-left: 0;
	.accordion-navigation{
		a {
			text-transform: capitalize;
		}
	}
	.content{
		.column{
			float: none;
			padding: 0;
		}
	}
}
